/* COLORS

Sidebar: black
Main: #141922;
Footer: #282828;
Green: #ADFF2F;
Icon gray: #D2D2D2;
Light gray: #A3A3A3;
Gray: 6E6E6E
*/

/*
ICONS

SIDEBAR
Spotify: <i class="fab fa-spotify"></i>
Home: <i class="fas fa-home"></i>
Library: svg - noun-library
Home: svg - noun-home
Search: svg - noun-search
Plus: <i class="fas fa-plus"></i>
Installa app: <i class="fal fa-arrow-circle-down"></i>
Joh Doe: svg - noun-user

MAIN
Play: <i class="far fa-play-circle"></i>

FOOTER
Heart: <i class="fal fa-heart"></i>
Folder: <i class="fal fa-folder"></i>
Random: <i class="far fa-random"></i>
Backward: <i class="far fa-step-backward"></i>
Play: <i class="far fa-play-circle"></i>
Forward: <i class="far fa-step-forward"></i>
Next: <i class="far fa-redo-alt"></i>

Menu: svg - noun-menu
Monitor: <i class="fas fa-desktop"></i>
Volume: <i class="fas fa-volume-up"></i>
*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

html {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 62.5%;
    font-weight: 600;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/* MAIN */

main {
    overflow: hidden;
}

.main_content{
    width: 100%;
    height: calc(100vh - 70px);
}


/* UPGRADE */

.upgrade {
    width: calc(100% - 170px);
    height: 70px;
    line-height: 70px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    right: 0;
    position: fixed;
}

.upgrade_btn {
    color: white;
    float: right;
    vertical-align: middle;
}

.upgrade_btn>a {
    color: inherit;
    text-transform: uppercase;
    padding: 1em 3em;
    border: 1px solid white;
    border-radius: 3em;
}

.upgrade_btn:hover {
    transform: scale(1.1);
    transition: 1s;
}


/* SIDEBAR */

.sidebar {
    width: 170px;
    height: calc(100vh - 70px);
    background-color: black;
    float: left;
    padding-top: 2rem;
}

.nav_container {
    width: 100%;
    height: 100%;

}

nav {
    height: 100%;
}

.nav_top {
    height: calc(100% - 80px);
    overflow: hidden;
    min-height: 270px;
    display: flex;
    flex-direction: column;
}

.nav_bottom {
    height: 80px;
}

/* SIDEBAR TOP */

/* Logo Spotify - Sidebar  */

#logo_spotify>svg {
    width: 100px;
    height: auto;
    margin-bottom: 1.7rem;
    padding-left: 15px;
}

/* List Menu - Sidebar */

.menu {
    margin-bottom: 15px;
}

.icon {
    width: 20px;
    line-height: 2.5rem;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    color: white;
    opacity: .5;
    line-height: 2.5rem;
    vertical-align: middle;
    padding-left: 15px;
}

.btn:hover {
    opacity: 1;
}

.playlist>.btn {
    display: flex;
    align-items: center;
}

#plus {
    width: 28px;
    height: 28px;
    color: black;
    font-size: 1.6rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}
#plus_text {
    font-size: 1.1rem;
    line-height: 4rem;
}

.active {
    display: inline-block;
    color: white;
    line-height: 2.5rem;
    vertical-align: middle;
    padding-left: 15px;
}

h3 {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2.5rem;
    padding-left: 15px;
}

/* SIDEBAR - BOTTOM */

.nav_bottom {
    height: 80px;
    padding: 0 15px;
}

/* Install - Sidebar */

.install svg {
    width: 15px;
    height: auto;
    vertical-align: middle;
    margin-right: 3px;
}

.install.btn {
    padding: 0;
}

.install_container {
    border-bottom: 1px solid #717171;
    margin-bottom: 15px;
}


/* Account - Sidebar */


.profile {
    width: 20px;
    height: 20px;
    background-color: #717171;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}

.profile>svg {
    width: 20px;
    vertical-align: middle;
}

.user>span {
    color: white;
}


/* OVERFLOW Y SIDEBAR */

.nav_top {
    display: flex;
    flex-direction: column;
}

.playlist {
    overflow: hidden;
    flex-grow: 1;
}

.playlist>ul {
    height: 100%;
    overflow-y: auto;
}



/* FOOTER */

footer {
    display: flex;

}

/* Right */

.track {
    width: 170px;
    min-width: 170px;
    height: 100%;
    background: rgb(27, 27, 27);
}

.track img {
    width: 35px;
    margin: 7px;
    vertical-align: middle;
}

.played {
    line-height: 70px;
    width: 70%;
    float: left;
}

.played>div {
    vertical-align: middle;
    display: inline-block;
    line-height: 1rem;
}

.played h4 {
    color: white;
}

.played .btn {
    font-size: .9rem;
    padding: 0;
    line-height: 1rem;
}

.played .btn:hover {
    text-decoration: underline;
}

/* Track Icons */

.track>div {
    width: 100%;
    height: 100%;
}

.played_icons {
    width: 30%;
    height: 100%;
    padding: 9px;
    font-size: 1.3rem;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.played_icons>a {
    margin: 0;
    padding: 0;
    font-size: inherit;
}


/* Center */

.play {
    width: calc(100% - 340px);
    min-width: 170px;
    height: 100%;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    width: 170px;
    height: 50%;
    background-color: yellow;
}

.playbar {
    min-width: 170px;
    width: 60%;
    height: 50%;
    background-color: yellowgreen;
}

/* Left */

.settings {
    width: 170px;
    min-width: 170px;
    height: 100%;
    background: pink;
}







/* .track {
    height: 100%;
    display: flex;
}

.track_played {
    display: flex;
    align-items: center;
}

.track img {
    width: 37px;
}

.track_name {
    width: 100px;
    padding: 10px;
    line-height: .9rem;
}

.track_name h4 {
    color: white;
    font-size: .9rem;
}

.track_name>a {
    font-size: .8rem;
}

.track_name>a:hover {
    text-decoration: underline;
}

.track a {
    color: #717171;
}

.track a:hover {
    color: white;
}

.track_icons {
    width: 51px;
    padding-right: 9px;
    display: flex;
    flex-direction: row;
    background-color: pink;
}

.track_icons>a {
    font-size: 1.4rem;
} */








/* TEST */



/* .play {
    background-color: lightblue;
    width: 40%;
    min-width: 100px;
    height: 100%;
} */

/* .buttons {
    background-color: yellow;
    width: 100px;
    height: 50%;
    margin: 0 auto;
} */

/* .playbar {
    background-color: orange;
    width: 90%;
    min-width: 100px;
    height: 50%;
    margin: 0 auto;

} */

/* .settings {
    background-color: aqua;
    width: 150px;
    height: 100%;
} */

.center {
    width: calc(100% - 170px);
    height: calc(100vh - 70px);
    float: left;
    background-color: #141922;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #282828;
}

